:host ::ng-deep{
  & .p-datatable .p-datatable-tbody > tr > td{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  & .p-datatable .p-datatable-thead > tr > th{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
