<p-button (click)="showDialog()">show</p-button>

<p-dialog [(visible)]="visible" [title]="title">
  <ng-template pTemplate="header" class="header">{{ title }}</ng-template>
  <ng-template pTemplate="content">
    <his-pick-list
      (changeVisible)="onChangeVisible($event)"
      [value]="value"
      [(pick)]="pick"
    >
  </his-pick-list>
  </ng-template>
  <!-- <ng-template pTemplate="footer" class="footer">
    <p-button
      type="button"
      styleClass="p-button-secondary p-button-text"
      (click)="onChangeVisible(!visible)"
      >取消</p-button
    >
    <p-button type="button" styleClass="p-button-success">確定</p-button>
  </ng-template> -->
</p-dialog>

<div>
  <label>Coding:{{ pick?.code }}</label>
  <br>
  <label>Display:{{ pick?.display}}</label>
</div>

<!-- <his-select-dialog
  [visible]="visible"
  [title]="title"
  (changeVisible)="onChangeVisible($event)"
  (doubleClick)="doSelectItem($event)"
  [items]="frequencys"
></his-select-dialog> -->
