:host ::ng-deep {
  & .p-dialog {
    width: 37.5rem;
    height: 37.5rem;

    & .p-dialog-header {
      background-color: #006d50;
      color: white;
      padding: var(--spacing-xs, 4px) var(--spacing-md, 12px);
      height: 2.5rem;
    }

    & .p-dialog-header-icon {
      color: white;
    }

    & .p-dialog-content {

      height: 31rem;



      & #searchbox {
        display: flex;
        margin-bottom: 1rem;
        margin-top: 1rem;

      }

      & tr.p-highlight{
        background-color: #fDD3A4;
        color: black;
      }
    }

    & .p-dialog-footer {
      height: 4rem;
      padding-top: 1rem;

      & .p-button {
        min-width: 5.5rem;
        height: 2.5rem;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
